# Generic
*.o
*.obj
*.a
*.log
*.tmp
*.iso
*.elf
qemu.log
AstraOS.iso
AstraOS.elf

# CMake
MakeCache.txt
CMakeFiles/
cmake_install.cmake
build/

# IDE
.vscode/
.idea/


#PRIVATE FILES
modules-private/
